.max-h-1 {
max-height: 1cm;
}
.max-h-2 {
max-height: 2cm;
}
.max-h-3 {
max-height: 3cm;
}
.max-h-4 {
max-height: 4cm;
}
.max-h-5 {
max-height: 5cm;
}
.max-h-10 {
max-height: 10cm;
}
.max-h-15 {
max-height: 15cm;
}
.max-w-1 {
max-width: 1cm;
}
.max-w-2 {
max-width: 2cm;
}
.max-w-3 {
max-width: 3cm;
}
.max-w-4 {
max-width: 4cm;
}
.max-w-5 {
max-width: 5cm;
}
.max-w-10 {
max-width: 10cm;
}
.max-w-15 {
max-width: 15cm;
}
.max-w-20 {
max-width: 20cm;
}
